body,
html {
    background-image: url("./assets/images/dreamy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Courgette', cursive;
    color: black;
}

.main_container{
    overflow: hidden;
}

.modal-content {
    text-align: center;
    background-image: url("./assets/images/dreamy.jpg")
}

/* ********************************************************** NAV BAR ******************************************************************** */
.navbar {
    background-image: url("./assets/images/dreamy.jpg");
    opacity: 0.9;
}

.navbar-brand img {
    max-width: 7rem;
    height: auto;
}

.navbar-nav {
    margin-left: 2rem;
}

.nav-item {
    font-family: 'Courgette', cursive;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;

}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgb(15, 15, 15);
}

/* **************************************************************** nav bar icons ************************************************************* */
.icons {
    display: inherit;
    line-height: 0.4;
    text-decoration: none;
}

.translate {
    font-family: 'Courgette', cursive;
    color: #888;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.translate h3 {
    font-size: 1.1rem;
}

.translate:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgb(15, 15, 15);
}

.icons i {
    padding: 0rem 1rem;
    font-size: 2rem;
    opacity: 0.5;
    color: #333;
    text-decoration: none;
}

.icons i:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgb(15, 15, 15);
}

/* **************************************************************** carousel ************************************************************* */
.carousel-item {
    background-image: url("./assets/images/redBG.jpg");
    background-size: cover;
    margin-top: 6.2rem;
}

.carousel-item img {
    width: auto;
    max-height: 625px;
    margin: auto;
    min-height: 200px;
}

.carousel-control-next span {
    width: 5vw;
    height: 5vw;
}

.carousel-control-prev span {
    width: 5vw;
    height: 5vw;
}

.carousel-control-prev {
    z-index: 99;
}

/* **************************************************************** carousel text ************************************************************* */
.main-text {
    position: absolute;
    top: 25%;
    left: -17%;
    width: 96%;
    color: white;
    text-shadow: 0.15rem 0.15rem #333;
}

.main-text h2 {
    font-family: 'Courgette', cursive;
    font-size: 5rem;
}

.main-text h3 {
    font-family: 'Clicker Script', cursive;
    font-size: 3rem;
    padding-top: 3rem;
    padding-left: 15%;
    color: rgb(255, 238, 0);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

/* **************************************************************** main page content ********************************************************* */
.content {
    border-top: 1rem solid white;
    background-image: url("./assets/images/dreamy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 4rem;
    color: rgb(233, 35, 35);
    text-shadow: 3px 3px 10px rgb(8, 8, 8);
}

.container h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    color: rgb(233, 35, 35);
    text-shadow: 3px 3px 10px rgb(8, 8, 8);
}

.container h3 {
    color: rgb(233, 35, 35);
    text-shadow: 3px 3px 10px rgb(8, 8, 8);
}


.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 100px;
}

.line {
    max-height: 5rem;
    width: auto;
}

.logo {
    max-width: 15rem;
    height: auto;
    margin-bottom: 0.5rem;
}

/* **************************************************************** dresses ************************************************************** */
figcaption {
    text-align: center;
    background-image: url("./assets/images/sparkles.jpg");
    width: 20rem;
    margin: auto;
}

/* morilee */
.morilee {
    display: flex;
    justify-content: center;
}

.morilee .v_player {
    margin: 0.5rem 0.5rem;
}

/* vara */

.vara {
    display: flex;
    justify-content: center;
}

.vara .v_player {
    margin: 0.5rem 0.5rem;
}

/* ragazza */
.ragazza {
    display: flex;
    justify-content: center;
}

.ragazza .v_player {
    margin: 0.5rem 0.5rem;
}

/* wu */
.wu {
    display: flex;
    justify-content: center;
}

.wu .v_player {
    margin: 4rem 0rem 0rem -2rem;
}

.subheading {
    text-align: center;
}

#quinceañera .img-fluid {
    width: 20rem;
    height: auto;
    display: block;
    margin: auto;
    margin: 0rem 1rem;
}

#prom .img-fluid {
    width: 20rem;
    height: auto;
    display: block;
    margin: auto;
    margin: 0rem 1rem;
}

#damas .img-fluid {
    width: 20rem;
    height: auto;
    display: block;
    margin: auto;
    margin: 0rem 1rem;
}

#wedding .img-fluid {
    width: 20rem;
    height: auto;
    display: block;
    margin: auto;
    margin: 0rem 1rem;
}

#wedding h4 {
    color: rgb(233, 35, 35);
    text-shadow: 3px 3px 10px rgb(8, 8, 8);
}

/* **************************************************************accessories********************************************************* */
#accessories .img-fluid {
    margin: 1rem;
    width: 15rem;
    height: auto;
    max-width: 20rem;
    max-height: 20rem;
    display: inline-block;
}

/* *****************************************************************kids*********************************************************** */
#kids .img-fluid {
    margin: 1rem;
    width: 15rem;
    height: auto;
    max-width: 85vw;
    display: inline-block;
}

/* *****************************************************************baptism*********************************************************** */
#baptism .img-fluid {
    margin: 1rem;
    width: 15rem;
    height: auto;
    max-width: 85vw;
    max-height: 25rem;
    display: inline-block;
}

/* ****************************************************************events*********************************************************** */
.events {
    display: flex;
    justify-content: center;
}

.event_calendar {
    margin-left: 15%;
    margin-right: 15%;
}

/* **************************************************************** map ************************************************************* */
.map {
    overflow: hidden;
    margin: 1rem;

}

.map p {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 1.2rem;
}

.map li {
    color: white;
    list-style-type: none;
    text-shadow: 2px 2px black;
    font-size: 1.2rem;
}

#map {
    height: 30rem;
    width: 30rem;
    margin: auto;
    margin-bottom: 1rem;
}

/* **********************************************************************Reviews/media**************************************************************** */

.review-box {
    height: 30rem;
    width: 30rem;
    margin: auto;
    margin-bottom: 1rem;
    overflow: scroll;
}

.review-item {
    background-image: url("./assets/images/stars.jpg");
    background-position-y: 55%;

}

.review-item p {
    padding: 0.3rem;
    color: black;
}

.social-media {
    text-align: center;
}

.social-media i {
    padding: 0.5rem;
    margin: auto;
    text-decoration: none;
}

.social-media a {
    font-size: 2.5rem;
    color: #333;
    text-decoration: none;
}

.social-media a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px rgb(15, 15, 15);
}

/* ************************************************************** about ******************************************************************* */

#about h5 {
    text-align: center;
    width: 100%;
    color: white;
    background-color: black;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* ********************************************************** ***** Media Queries 800 ****** ****************************************************** */
@media screen and (max-width: 800px) {
    .nav-item a {
        font-size: 1.2rem;
    }

    .line {
        width: 70vw;
    }

    figcaption {
        width: 90vw;
        margin: 0rem 1.9rem;
    }

    #quinceañera .img-fluid {
        width: 90vw;
        margin: 0rem 1.9rem;
    }

    #prom .img-fluid {
        width: 90vw;
        margin: 0rem 1.9rem;
    }

    #damas .img-fluid {
        width: 90vw;
        margin: 0rem 1.9rem;
    }

    #wedding .img-fluid {
        width: 90vw;
        margin: 0rem 1.9rem;
    }

    #accessories .img-fluid {
        width: 90vw;
        margin: 0.5rem 3rem;
    }

    #kids .img-fluid {
        width: 90vw;
        margin: 0.5rem 3rem;
    }

    #baptism .img-fluid {
        width: 90vw;
        margin: 0.5rem 3rem;
    }

    .v_player {
        width: 90vw;
        max-height: 15rem;
    }

    .event_calendar {
        width: 75vw;
        height: 35vh;
    }

    .review-box {
        height: 25vh;
        width: 75vw;
        margin-bottom: 1rem;
    }

    #map {
        height: 35vh;
        width: 75vw;
        margin: auto;
        margin-bottom: 1rem;
    }
}

/* **************************************************************** Media Queries 768 ************************************************************* */

@media screen and (max-width: 768px) {
    .main-text {
        position: absolute;
        top: 35%;
        left: -15%;
        width: 96%;
    }

    .main-text h2 {
        font-size: 2.8rem;
    }

    .main-text h3 {
        font-size: 1.8rem;
        padding-top: 0rem;
        padding-left: 12%;
    }

    .carousel-item img {
        width: auto;
        max-height: 300px;
        margin: auto;
        min-height: 20px;
    }

    .line {
        width: 70vw;
    }

    figcaption {
        width: 90vw;
        margin: 0rem 1.9rem;
    }

    #quinceañera .img-fluid {
        width: 90vw;
        margin: 0rem 1.9rem;
    }

    #prom .img-fluid {
        width: 90vw;
        margin: 0rem 1.9rem;
    }

    #damas .img-fluid {
        width: 90vw;
        margin: 0rem 1.9rem;
    }

    #wedding .img-fluid {
        width: 90vw;
        margin: 0rem 1.9rem;
    }

    #accessories .img-fluid {
        width: 90vw;
        margin: 0.5rem 3rem;
    }

    #kids .img-fluid {
        width: 90vw;
        margin: 0.5rem 3rem;
    }

    #baptism .img-fluid {
        width: 90vw;
        margin: 0.5rem 3rem;
    }

    .v_player {
        width: 90vw;
        max-height: 15rem;
    }

    .event_calendar {
        width: 200px;
        height: 200px;
    }

    .review-box {
        height: 20rem;
        width: 20rem;
        margin-bottom: 1rem;
    }

    #map {
        height: 27rem;
        width: 27rem;
        margin: auto;
        margin-bottom: 1rem;
    }

    .fb-share {
        width: 6rem;
    }
}


/* **************************************************************** Media Queries 480 ************************************************************* */

@media screen and (max-width: 480px) {
    .main-text {
        position: absolute;
        top: 30%;
        left: -10%;
        width: 96%;
    }

    .main-text h2 {
        font-size: 2.9rem;
    }

    .main-text h3 {
        font-size: 1.9rem;
        padding-top: 0rem;
        padding-left: 12%;
    }

    .carousel-item img {
        max-height: 250px;
    }

    .line {
        width: 90vw;
    }

    .v_player {
        width: 20rem;
        height: 10rem;
    }

    figcaption {
        width: 90vw;
        margin: 0rem 1.9rem;
    }

    #quinceañera .img-fluid {
        width: 90vw;
        margin: 0rem 1.9rem;
    }

    #prom .img-fluid {
        width: 90vw;
        margin: 0rem 1.9rem;
    }

    #damas .img-fluid {
        width: 90vw;
        margin: 0rem 1.9rem;
    }

    #wedding .img-fluid {
        width: 90vw;
        margin: 0rem 1.9rem;
    }

    #accessories .img-fluid {
        width: 90vw;
        margin: 0.5rem 3rem;
    }

    #kids .img-fluid {
        width: 90vw;
        margin: 0.5rem 3rem;
    }

    #baptism .img-fluid {
        width: 90vw;
        margin: 0.5rem 3rem;
    }

    .event_calendar {
        margin-left: 5%;
        width: 300px;
        height: 300px;
    }

    .review-box {
        height: 21rem;
        width: 21rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    #map {
        height: 20rem;
        width: 20rem;
        margin: auto;
        margin-bottom: 1rem;
    }

    .fb-share {
        width: 6rem;
    }
}